# General
.DS_Store                  # macOS-specific system files
Thumbs.db                  # Windows-specific system files
*.swp                      # Vim swap files

# Docker-related files
*.log                       # Log files from Docker containers
*.pid                       # Process ID files
*.sock                      # Socket files
docker-compose.override.yml # Local Docker Compose override

# Python
*.pyc                       # Python bytecode files
__pycache__/                # Python cache directory

# .NET 
bin/                        # Build output directory
obj/                        # Temporary object files
.vs/                        # Visual Studio settings directory
.vscode/                    # Visual Studio Code settings
appsettings.Development.json # Local development settings

# Blazor/WebAssembly
wwwroot/lib/
wwwroot/css/
wwwroot/js/
wwwroot/framework/
wwwroot/_content/
wwwroot/index.html
wwwroot/favicon.ico
*.deps.json
*.runtimeconfig.json
Properties/launchSettings.json

# .NET / Blazor System Files
*.csproj.user
*.suo
*.user
*.cache
*.pdb
*.dll
*.exe
*.nupkg
*.snupkg
*.vsp
*.vspx
*.log
*.tlog
.nuget/
sdk/
System.*  
*.lock.json
packages/
project.lock.json



# Ignore les fichiers de dépendances
node_modules/
**/node_modules/
package-lock.json
yarn.lock

# COBOL
*.gnt                       # Generated COBOL object files
*.lst                       # COBOL compilation listings
*.int                       # COBOL intermediate files
*.out                       # COBOL output files

# DB2
*.bak                       # Backup files (DB2 or other)
*.sql                       # SQL dump files (can be excluded if versioning database schema is needed)
*.db                        # DB2 database files

# Dockerfiles
docker-compose.yml          # Docker Compose file to bring up the services 
*.dockerfile                # Dockerfile extensions

# Logs
logs/                       # Directory containing log files for the app

# Git-related
.git/                      # Git directory 

# Security
.env